// VARIABLES
$color-primario-violeta: #7E57C2;
$color-secundario-violeta: #d8cced;
$color-home-negro-gris: rgb(18, 18, 18);

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin img-fluid{
    width: 100%;
    height: auto;
}

@mixin color-font-foot {
    font-family: integral !important;
    color:black !important;
    font-size: 14px !important;
}

@mixin about-parrafo {
    font-size: 1em;
    font-family: integral;
    color: rgb(134, 134, 134);
    word-spacing: 4px;
    padding-top: 10px;
}

@mixin about-titulo {
    font-size: 3em;
    font-family: integralBold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding: 30px;
    margin: 20px;
}

body { 
    background-color: $color-home-negro-gris;
    color:  rgb(222, 222, 222);
}

/* contenido principal */
@media (min-width: 1024px) {
    /* GRID principal (header-main-footer) */
    .gridHome{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    header{grid-area: header; }
    main{grid-area: main;}
    footer{grid-area: footer;} 

    /* GRID main (section1 section2 section3) */
    .gridSection{
        display: grid;
        grid-template-areas: 
        "contRedSocial contInform divImgPrincipal";
        grid-template-columns: 10% 45% 45%;
        grid-template-rows: 1fr ;
        row-gap: 50px;
        height: 100vh;
    }

    .contInform{grid-area: contInform;}
    .divImgPrincipal{grid-area: divImgPrincipal;}
    .contScrol{grid-area: contScrol;}

    .gridSectionUno{
        display: grid;
        grid-template-areas:         
        "hDosWorkingEveryDay hDosWorkingEveryDay"
        "cardUno cardDos"
        "cardTres cardCuatro";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }

    .hDosWorkingEveryDay{grid-area: hDosWorkingEveryDay;}
    .cardUno{grid-area: cardUno;}
    .cardDos{grid-area: cardDos;}
    .cardTres{grid-area: cardTres;}
    .cardCuatro{grid-area: cardCuatro;}

    .gridSectionTres{
        display: grid;
        grid-template-areas: 
        "h-haveProject"
        "contButon";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        row-gap: 50px;
    }

    .navHeader{
        display: flex !important;
        justify-content: space-around !important;
        align-items: center !important;
        height: 100px;
    }
    
    /* barra nav (home, about, ...) */
    .navLeft {
        display: flex !important;
    }
    
    .navLeft li{
        padding: 25px;
    }
    
    .contFooter{
        text-align: center;
    }
    .contFooter .footPrimero{
        
        text-decoration: none;
    }
    
    .contFooter .footPrimero a{
        padding: 30px;
        margin: 10px;
    }
    
    .contFooter .footSegundo{
        padding: 25px;
        
    }
    .contInform h2{
        text-align: start;
    }

    /* cards */
    .c-end{display: flex; justify-content: end;}
    .c-start{display: flex; justify-content: start;}
    .p-left-20{padding-left: 20px;}
    .p-right-20{padding-right: 20px;}
    /* ABOUT */
    /* grid (section-ABOUT) */
    .gridSectionAbout{
        display: grid;
        grid-template-areas: 
        "aboutSubtit aboutSubtit"
        "iam iamInfo"
        "missionInfo mission"
        "principles principlesInfo";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        row-gap: 50px;
    }
    /* ABOUT */
    /* grid (section-ABOUT) */
    .gridSectionAbout{
        display: grid;
        grid-template-areas: 
        "aboutSubtit aboutSubtit"
        "iam iamInfo"
        "missionInfo mission"
        "principles principlesInfo";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        row-gap: 50px;
    }

    .aboutSubtit{grid-area: aboutSubtit;}
    .iam{grid-area: iam;}
    .iamInfo{grid-area: iamInfo;}
    .missionInfo{grid-area: missionInfo;}
    .mission{grid-area: mission;}
    .principles{grid-area: principles;}
    .principlesInfo{grid-area: principlesInfo;}
    
    /* grid section portafolio */
    .gridSectionPort{
        display: grid;
        grid-template-areas:
        "colecTitulo colecTitulo colecTitulo colecTitulo" 
        "colec-1 colec-2 colec-3 colec-4"
        "colec-5 colec-6 colec-7 colec-8"
        "colec-9 colec-10 colec-11 colec-12";
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto auto;
    }

    .colecTitulo{grid-area: colecTitulo;}
    .colec-1{grid-area: colec-1;}
    .colec-2{grid-area: colec-2;}
    .colec-3{grid-area: colec-3;}
    .colec-4{grid-area: colec-4;}
    .colec-5{grid-area: colec-5;}
    .colec-6{grid-area: colec-6;}
    .colec-7{grid-area: colec-7;}
    .colec-8{grid-area: colec-8;}
    .colec-9{grid-area: colec-9;}
    .colec-10{grid-area: colec-10;}
    .colec-11{grid-area: colec-11;}
    .colec-12{grid-area: colec-12;}
}

/* tarjetas */
.textBody {
    color: rgb(134, 134, 134);
    font-size: 0.8em;
}
   
.textTitle {
    font-size: 1.5em;
   }
.c-centro{
    display: flex;
    justify-content: center;
}
.cardSecDos { 
    width: 80%;
    height: auto;
    max-width: 45rem;
    padding: 3rem;
    border: 3.5px solid $color-secundario-violeta;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    cursor: pointer;
    font-family: integral;
}

.cardSecDos:hover{
    border-color: $color-primario-violeta;
    .icon-card, .textTitle, .textBody{
        color: $color-primario-violeta;
    }
}
   
.h-haveProject {
    padding: 50px;
    font-size: 30px;
    font-style: bold;
    font-family: integralBold;
    font-size: 30px;
}

.contButon{
    @include flex-column-center;
    padding: 30px;
}

/* footer */
.contFooter{
    height: auto;
    width: auto;
    background-color: whitesmoke;
    @include color-font-foot;
}

.footPrimero a{
    @include color-font-foot;
}


/* (home)contenido principal texto-nombre */
.contRedSocial{
    @include flex-column-center;
    align-items: center;
    background-image: url("../FotosProyecto/blob\ \(2\).svg"); 
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    li{
        display: flex;
        flex-direction: column;

        a{
            padding: 15px;
            svg{
                width: 25px;
                height: 25px;
                color: $color-primario-violeta;
            }
        }
    }    

}



.contPrincipal .contInform{
    @include flex-column-center;
}


.contInform h1{
    font-size: 5em;
    font-family: integralBold;
}

.contInform h2{
    font-size: 2em;
    font-family: integral;
    color: rgb(134, 134, 134);
}   

.contInform p{
    font-size: 1em;
    font-family: integral;
    color: rgb(134, 134, 134);
}

/* img-principal-der */
.divImgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.divImgPrincipal img{
    @include img-fluid;
} 

.buttonPrinc {
    position: relative;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-family: neueRegular;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
    width: 23%;

  }
  
  .buttonPrinc:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  .buttonPrinc:active {
    transform: scale(0.9);
  }

/* clases para reutilizar */
.m-20{margin: 20px;}
.p-20{padding: 20px;}
.p-50{padding: 50px;}
.p-top-50{padding-top: 50px;}
.t-c{text-align: center;}
.ob-centro{display:flex ; justify-content: center;}
.fs-30{font-size: 30px;}
.p-45-bottom{padding-bottom: 45px;}

.contButon{
    @include flex-column-center;
    align-items: center;
}

.hDosWorkingEveryDay{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: integralBold;
    font-size: 30px;
}

// ABOUT

.aboutImg img{
    width: 100%;
    height: auto;
}

.aboutSubtit h1{
    @include about-titulo;
}

.principlesInfo h2{
    @include about-titulo;
}

.missionInfo h2{
    @include about-titulo;
}

.iamInfo h2{
    @include about-titulo;
}

.principlesInfo p{
    @include about-parrafo;
}   

.missionInfo p{
    @include about-parrafo;
}

.iamInfo p{
    @include about-parrafo;
}

/* port pagina */
.img-colec img{
    width: 100%;
    height: auto;
}

.colecTitulo{
    @include about-titulo;
}

// productos
.card{
    background-color: $color-home-negro-gris !important;
    font-family: integral !important;
    border-color: white !important;
}

.card-img{
    width: 50%;
}

.cardColorTitulo{
    color: rgb(222, 222, 222);
}

.cardColor{
    color: rgb(134, 134, 134);
}

// contacto
.btn{
    background-color: $color-primario-violeta;
    border-color: $color-primario-violeta;
}

.form-label{
    font-family: integral;
    color: rgb(134, 134, 134);
}

/* Vista MOBILE */
@media (max-width:768px){
    .desaparecer{
        display: none;
    }
    .contInform h1{
        font-size: 2.3em;
        font-family: integralBold;
        text-align: center;
    }
    
    .contInform h2{
        font-size: 1em;
        font-family: integralBold;
        text-align: center;
    }
    .contInform p{
        font-size: 0.6em;
        font-family: integralBold;
        text-align: center;
    }

    .buttonPrinc{
        width: 100%;
    }

    .cardSecDos{
        width: 100%;
    }

    .contFooter{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .footSegundo h4{
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }

    .footPrimero a{
        font-size: 8px !important;
    }
}