/* Barra de navegación */
ul {
    list-style-type: none;
}
/* general */
a {
    font: 400 1.2rem Poppins, sans-serif !important;
    color:  rgb(222, 222, 222) !important;
    text-decoration: none;
}

.navHeader{
    background-color: $color-home-negro-gris !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px !important;
    height: auto !important;
    width: auto !important;
}